<div class="animated fadeIn">
    <div class="form-group ">
        <label for="user_type">Please Select Type </label>
        <select class="form-control col-sm-3" id="user_type" (change)="creditTypeChange($event)">
          <option value="">All</option>
          <option value="2">Non-Agents fee</option>
          <option value="3">Credit Payment fee</option>
        </select>
      </div>
    <div class="card">
      <div class="card-header"><strong class="payment-mgmt-title"> Payment Management</strong> </div>
  
      <div class="card-block">
        <div class="row">       
          <div class="col-lg-12">
        <table style="width: 100vw" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th style="width: 15%">Transaction ID</th>
              <!-- <th style="width: 20%">Job Title</th> -->
              <th style="width: 10%">Username</th>
              
              <th style="width: 10%">Amount</th>
              <th style="width: 10%">Stripe Fee</th>
              <th style="width: 18%">Error Message</th>
              <th style="width: 20%">Paymemt Status</th>
              <th style="width: 25%">Created At</th>
              <!-- <th style="width: 20%">Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tranjactions; index as i">
              <td>{{ item.transaction_id }}</td>
              <!-- <td>{{ item.title }}</td> -->
              <td>{{ (item.user_name != null)? item.user_name:item.paid_user_name }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.stripe_fee }}</td>
              <td>{{ item.error_msg }}</td>
              <td *ngIf="item.payment_status == '1'">
                  <span class="badge badge-success">Success</span>
              </td>
              <td *ngIf="item.payment_status == '0'">
                  <span class="badge badge-danger">Failed</span>
              </td>
             <td>
                <!-- {{ trans_dates[i] }} -->
                {{ item.created_at | date:'MMM d, y, h:mm:ss a'}}
             </td>
              <!-- <td>
                <button class="btn btn-primary" [routerLink]="['/jobsmgmt/jobDetails', item.job_id]" title="View" disabled>                  <i class="fa fa-eye"> View</i>
                </button> 
               <button *ngIf="item.status == '0'" class="btn btn-success" (click)="userActiveOrInactive(item.user_id, '1')" title="Active" style="width:82px;">
                  <i class="fa fa-unlock"> Active</i>
                </button>
                <button *ngIf="item.status == '1'" class="btn btn-warning" (click)="userActiveOrInactive(item.user_id, '0')" title="In Active">
                  <i class="fa fa-lock"> InActive</i>
                </button>
              </td> -->
            </tr>
            <tr *ngIf="tranjactions?.length == 0">
              <td colspan="4" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  </div>