<toaster-container></toaster-container>
  <div class="animated fadeIn">
    <div class="card">
        <div class="card-header"><strong class="addbrkr-mgmt-title"> Brokerage Type Management</strong> 
          <button class="btn btn-success pull-right addbrkr-mgmt-btn" [routerLink]="['/addbrokeragemgmt/addnewbrokerage']">
            <i class="fa fa-plus"> Add Brokerage Type</i>
        </button>
        </div>  
      <div class="card-block">
        <div class="row">       
          <div class="col-lg-12">
        <table style="width: 100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th style="width: 20%">Brokerage ID</th>
              <th style="width: 40%">Brokerage Name</th>
              <th style="width: 30%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of brokerages; index as i">
              <td>{{ item.type_id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <button class="btn btn-primary mr-1" title="Edit" type="button" [routerLink]="['/addbrokeragemgmt/brokerageDetails', item.type_id]">
                  <i class="fa fa-eye"> Edit</i>
                </button> 
                <button class="btn btn-danger" title="Delete" (click)="deleteBrokerage(item.type_id)">
                  <i class="fa fa-trash"> Delete</i>
                </button> 
              </td>
            </tr>
            <!-- <tr *ngIf="brokerages?.length == '0'">
              <td colspan="4" class="no-data-available">No data!</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  </div>