<toaster-container></toaster-container>
<section class="content">
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="card col-lg-8">
            <div class="card-header text-left" style="background:#fff;">
              <strong>Add Credit Plan</strong>
            </div>
  
            <div class="card-block">
            
          <form [formGroup]="AddCreditPlanForm" (ngSubmit)="AddCreditPlanFormSubmit()"  novalidate>
          <div class="col-sm-12">
                <label>Credit amount</label><strong>*</strong>
                <div class="form-group">
                  <input placeholder="Credit amount" type="text" name="credit_amount" formControlName="credit_amount" class="form-control"
                    required />
                </div>
                <div *ngIf="(submitted && AddCreditPlanForm.controls.credit_amount.invalid) || AddCreditPlanForm.controls.credit_amount.touched">
                  <div *ngIf="AddCreditPlanForm.hasError('required','credit_amount')" class="alert alert-danger">
                        Credit amount is required.
                  </div>
                  <div *ngIf="!AddCreditPlanForm.hasError('required','credit_amount') && AddCreditPlanForm.hasError('pattern','credit_amount')" class="alert alert-danger">
                        Only numeric value allowed for credit amount.
                  </div>
                </div>
            </div>

            <div class="col-sm-12">
                <label>Credits</label><strong>*</strong>
                <div class="form-group">
                  <input placeholder="Credits" type="text" name="credits" formControlName="credits" class="form-control"
                    required />
                </div>
                <div *ngIf="(submitted && AddCreditPlanForm.controls.credits.invalid) || AddCreditPlanForm.controls.credits.touched">
                  <div *ngIf="AddCreditPlanForm.hasError('required','credits')" class="alert alert-danger">
                        Credits is required.
                  </div>
                  <div *ngIf="!AddCreditPlanForm.hasError('required','credits') && AddCreditPlanForm.hasError('pattern','credits')" class="alert alert-danger">
                        Only numeric value allowed for credits.
                </div>
                </div>
            </div>

            <div class="col-sm-12">
                <label>Description</label><strong>*</strong>
                <div class="form-group">
                  <textarea placeholder="i.e. $14.00 for 20 credits (30% discount)" type="text" name="description" formControlName="description" class="form-control"
                    required></textarea>
                </div>
                <div *ngIf="(submitted && AddCreditPlanForm.controls.description.invalid) || AddCreditPlanForm.controls.description.touched">
                  <div *ngIf="AddCreditPlanForm.hasError('required','description')" class="alert alert-danger">
                        Description is required.
                  </div>
                  <!-- <div *ngIf="!AddCreditPlanForm.hasError('required','description') && AddCreditPlanForm.hasError('minlength','description')" class="alert alert-danger">
                        Description should be minimum 10 latter.
                   </div> -->
                   <div *ngIf="!AddCreditPlanForm.hasError('required','description') && !AddCreditPlanForm.hasError('minlength','description') && AddCreditPlanForm.hasError('maxlength','description')" class="alert alert-danger">
                        Description should be maximum 500 latter.
                    </div>
                </div>
            </div>
             
              <div class="col-sm-12 text-center">
                <button class="btn btn-primary mr-1" type="submit" title="Save">
                  <i class="fa fa-check"> Add</i>
                </button>
                <button class="btn btn-warning" type="button" title="Cancel" [routerLink]="['/creditplan']">
                  <i class="fa fa-remove"> Cancel</i>
                </button>
              </div>
            
          </form>
        </div>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
    </div>
  </section>
