<toaster-container></toaster-container>
<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="row">
        <div class="card col-lg-8">
          <div class="card-header text-left" style="background:#fff;">
            <strong>View Credit Plan details</strong>
          </div>

          <div class="card-block">

            <form [formGroup]="editCreditPlanForm" (ngSubmit)="editCreditPlanFormSubmit()" novalidate>
              <div class="col-sm-12">
                <label>Credit amount</label><strong>*</strong>
                <div class="form-group">
                  <input *ngIf="action == 'view'" placeholder="Credit amount" type="text" name="credit_amount"
                    formControlName="credit_amount" class="form-control" readonly="true" />
                  <input *ngIf="action == 'edit'" placeholder="Credit amount" type="text" name="credit_amount"
                    formControlName="credit_amount" class="form-control" required />
                </div>
                <div
                  *ngIf="(submitted && editCreditPlanForm.controls.credit_amount.invalid) || editCreditPlanForm.controls.credit_amount.touched">
                  <div *ngIf="editCreditPlanForm.hasError('required','credit_amount')" class="alert alert-danger">
                    Credit amount is required.
                  </div>
                  <div
                    *ngIf="!editCreditPlanForm.hasError('required','credit_amount') && editCreditPlanForm.hasError('pattern','credit_amount')"
                    class="alert alert-danger">
                    Only numeric value allowed for credit amount.
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <label>Credits</label><strong>*</strong>
                <div class="form-group">
                  <input *ngIf="action == 'view'" placeholder="Credits" type="text" name="credits"
                    formControlName="credits" class="form-control" readonly="true" />
                  <input *ngIf="action == 'edit'" placeholder="Credits" type="text" name="credits"
                    formControlName="credits" class="form-control" required />
                </div>
                <div
                  *ngIf="(submitted && editCreditPlanForm.controls.credits.invalid) || editCreditPlanForm.controls.credits.touched">
                  <div *ngIf="editCreditPlanForm.hasError('required','credits')" class="alert alert-danger">
                    Credits is required.
                  </div>
                  <div
                    *ngIf="!editCreditPlanForm.hasError('required','credits') && editCreditPlanForm.hasError('pattern','credits')"
                    class="alert alert-danger">
                    Only numeric value allowed for credits.
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <label>Description</label><strong>*</strong>
                <div class="form-group">
                  <textarea *ngIf="action == 'view'" placeholder="i.e. $14.00 for 20 credits (30% discount)" type="text"
                    name="description" formControlName="description" class="form-control" readonly="true"></textarea>
                  <textarea *ngIf="action == 'edit'" placeholder="i.e. $14.00 for 20 credits (30% discount)" type="text"
                    name="description" formControlName="description" class="form-control" required></textarea>
                  <!-- <div *ngIf="action == 'edit'">(exa. $14.00 for 20 credits (30% discount))</div> -->
                </div>
                <div
                  *ngIf="(submitted && editCreditPlanForm.controls.description.invalid) || editCreditPlanForm.controls.description.touched">
                  <div *ngIf="editCreditPlanForm.hasError('required','description')" class="alert alert-danger">
                    Description is required.
                  </div>
                  <!-- <div *ngIf="!editCreditPlanForm.hasError('required','description') && editCreditPlanForm.hasError('minlength','description')" class="alert alert-danger">
                        Description should be minimum 10 latter.
                  </div> -->
                  <div
                    *ngIf="!editCreditPlanForm.hasError('required','description') && !editCreditPlanForm.hasError('minlength','description') && editCreditPlanForm.hasError('maxlength','description')"
                    class="alert alert-danger">
                    Description should be maximum 500 latter.
                  </div>
                </div>
              </div>

              <div class="col-sm-12 text-center">
                <button *ngIf="action == 'view'" class="btn btn-primary mr-1" type="submit" title="Edit"
                  (click)="editCreditPlanOptions('edit')">
                  <i class="fa fa-edit"> Edit</i>
                </button>
                <button *ngIf="action == 'edit'" class="btn btn-primary mr-1" type="submit" title="Update">
                  <i class="fa fa-check"> Update</i>
                </button>
                <button class="btn btn-warning" type="button" title="Cancel" [routerLink]="['/creditplan']">
                  <i class="fa fa-remove"> Cancel</i>
                </button>
              </div>

            </form>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
</section>