<toaster-container></toaster-container>
<div class="animated fadeIn">
        <div class="card">
          <div class="card-header"><strong class="plan-mgmt-title"> Credit Plan Management</strong> 
            <button class="btn btn-success pull-right addjobtype-mgmt-btn" [routerLink]="['/creditplan/add-creditplan']">
              <i class="fa fa-plus"> Add Credit Plan</i>
            </button>
        </div>
      
          <div class="card-block">
            <div class="row">       
              <div class="col-lg-12">
            <table style="width: 100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th style="width: 20%">Credit Plan ID</th>
                  <th style="width: 20%">Credit Amount</th>
                  <th style="width: 10%">Credits</th>
                  <th style="width: 10%">Status</th>
                  <th style="width: 40%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of plans; index as i">
                  <td>{{ item.credit_id }}</td>
                  <td>{{ item.credit_amount }}</td>
                  <td>{{ item.credits }}</td>
                  
                  <td *ngIf="item.status == '1'">
                    <span class="badge badge-success">Active</span>
                  </td>
                  <td *ngIf="item.status == '0'">
                    <span class="badge badge-danger">InActive</span>
                  </td>
                 
                  <td>
                    <button class="btn btn-primary mr-1" title="View" [routerLink]="['/creditplan/view-creditplan', item.credit_id]">                  
                      <i class="fa fa-eye"> View</i>
                    </button> 
                    <button *ngIf="item.status == '0'" class="btn btn-success mr-1" title="Active" (click)="activeInactiveCreditPlan(item.credit_id, '1')">                  
                      <i class="fa fa-unlock"> Active</i>
                    </button>
                    <button *ngIf="item.status == '1'" class="btn btn-warning mr-1" title="In Active" (click)="activeInactiveCreditPlan(item.credit_id, '0')">                  
                      <i class="fa fa-lock"> In Active</i>
                    </button>
                    <button class="btn btn-danger" title="Delete" (click)="deleteCreditPlan(item.credit_id)">                  
                      <i class="fa fa-trash"> Delete</i>
                    </button>
                   <!-- <button *ngIf="item.status == '0'" class="btn btn-success" (click)="userActiveOrInactive(item.user_id, '1')" title="Active" style="width:82px;">
                      <i class="fa fa-unlock"> Active</i>
                    </button>
                    <button *ngIf="item.status == '1'" class="btn btn-warning" (click)="userActiveOrInactive(item.user_id, '0')" title="In Active">
                      <i class="fa fa-lock"> InActive</i>
                    </button> -->
                  </td>
                </tr>
                <!-- <tr *ngIf="users?.length == 0">
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr> -->
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      </div>