<!-- <toaster-container></toaster-container> -->
<section class="content">
        <div class="box">
          <div class="box-body">
            <div class="row">

              <div class="card col-lg-8">
                <div class="card-header text-left" style="background:#fff;">
                  <strong *ngIf="actions=='view'">View Job Suggestion</strong>
                  <strong *ngIf="actions=='edit'">Edit Job Suggestion</strong>
                </div>

                <div class="card-block">

              <form [formGroup]="editJobtypeForm" (ngSubmit)="editJobtypeFormSubmit()"  novalidate>
              <div class="col-sm-12">
                    <label>Job Suggestion Name</label><strong *ngIf="actions=='edit'">*</strong>
                    <div class="form-group">
                      <input *ngIf="actions == 'view'" placeholder="Job Suggestion Name" type="text" name="content" formControlName="content" class="form-control" readonly="true"
                        required />

                      <input *ngIf="actions == 'edit'" placeholder="Job Suggestion Name" type="text" name="content" formControlName="content" class="form-control"
                        required />
                    </div>
                    <div *ngIf="(submitted && editJobtypeForm.controls.content.invalid) || editJobtypeForm.controls.content.touched">
                      <div *ngIf="editJobtypeForm.hasError('required','content')" class="alert alert-danger">
                            Job Suggestion Name is required.
                      </div>
                    </div>
                </div>

                <!-- <div class="col-sm-12">
                      <label>Category status</label>
                      <div class="form-group">
                        <input placeholder="Phone" type="text" name="phone" formControlName="phone" class="form-control"
                          required />
                      </div>
                      <div *ngIf="(submitted && editJobtypeForm.controls.phone.invalid) || editJobtypeForm.controls.phone.touched">
                        <div *ngIf="editJobtypeForm.hasError('required','phone')" class="alert alert-danger">
                            Category status is required.
                        </div>
                      </div>
                </div> -->
                <div class="col-sm-12">
                  <label>Job Suggestion Type</label><strong *ngIf="actions=='edit'">*</strong>

                  <input *ngIf="actions == 'view'" placeholder="Select Suggestion Type" value="{{suggestionType}}" type="text" readonly="true"
                  class="form-control" />

                  <select *ngIf="actions == 'edit'" class="form-control col-sm-3" id="type" formControlName="type">
                    <option value="" selected disabled>Select Suggestion Type</option>
                    <option value="notes">Notes</option>
                    <option value="terms">Terms</option>
                  </select>
                  <div *ngIf="(submitted && editJobtypeForm.controls.type.invalid) || editJobtypeForm.controls.type.touched">
                    <div *ngIf="editJobtypeForm.hasError('required','type')" class="alert alert-danger">
                        Job Suggestion Type is required.
                    </div>
                  </div>

                </div>

                  <div class="col-sm-12 text-center mt-1">
                    <button *ngIf="actions == 'view'" class="btn btn-primary mr-1" type="button" title="Edit" [disabled]="formdisable" (click)="editJobEvent($event, getJobCategoryDetails?.job_category_id)">
                      <i class="fa fa-edit"> Edit</i>
                    </button>
                    <!-- <button *ngIf="actions == 'view'" class="btn btn-info" type="button" title="Back" [routerLink]="['/addjobtypemgmt']" [disabled]="formdisable">
                      <i class="fa fa-backward"> Back</i>
                    </button> -->
                    <button *ngIf="actions == 'edit'" class="btn btn-primary mr-1" type="submit" title="Save" [disabled]="formdisable">
                      <i class="fa fa-check"> Save</i>
                    </button>
                    <button class="btn btn-warning" type="button" title="Cancel" [routerLink]="['/jobsuggestionmgmt']" [disabled]="formdisable">
                      <i class="fa fa-remove"> Cancel</i>
                    </button>
                  </div>

              </form>
            </div>
              </div>
              <div class="col-lg-3"></div>
            </div>
          </div>
        </div>
      </section>
