<toaster-container></toaster-container>
<div class="animated fadeIn">
  <section class="content">
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="card col-lg-8">
            <div class="card-header text-left" style="background:#fff;">
              <strong>Update Advertisement</strong>
            </div>
            <div class="card-block">
              <form [formGroup]="impUpdateForm" (ngSubmit)="impFormSubmit()" novalidate>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="hidden" name="id" formControlName="id" class="form-control" required />
                      </div>
                    </div>
                  </div>
                </div>

                <label>Banner Image</label>
                <div class="form-group">
                  <img *ngIf="newImage == ''" src="{{imgUrl}}{{imgPreview}}" alt="Banner Image" name="banner_image" height="100px" class="image-radius" (error)="errorHandler($event)" />
                  <img *ngIf="newImage != ''" src="{{newImage}}" alt="Banner Image" name="banner_image" height="100px" class="image-radius" (error)="errorHandler($event)" />
                </div>
              
                <div class="form-group">
                  <div>
                    <input type="file" class="form-control" name="image" (change)="handleFileInput($event)"/>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="imageUploadExtentionError == true">
                  Please upload JPG, PNG or JPEG file.
                </div>

                <label>URL</label><strong>*</strong>
                <div class="form-group">
                  <input placeholder="URL" type="text" name="url" formControlName="url" class="form-control" />
                </div>
                <div *ngIf="(submitted && impUpdateForm.controls.url.invalid) || impUpdateForm.controls.url.touched">
                  <div *ngIf="impUpdateForm.hasError('required','url')" class="alert alert-danger">
                    URL is required.
                  </div>
                  <div *ngIf="!impUpdateForm.hasError('required','url') && (impUpdateForm.hasError('pattern','url'))" class="alert alert-danger">
                    Please enter valid url.
                  </div>
                </div>

              <!-- </div> -->
              <div class="col-sm-12 text-center">
                <button class="btn btn-primary mr-1" type="submit" title="Save">
                  <i class="fa fa-check"> Update</i>
                </button>
                <button class="btn btn-warning" type="button" title="Cancel" [routerLink]="['/impression']">
                  <i class="fa fa-remove"> Cancel</i>
                </button>
              </div>

              </form>
            </div>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
    </div>
  </section>