<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="row">

        <div class="card col-lg-8">

          <div class="card-header text-left" style="background:#fff;">
            <strong>Job Details</strong>
          </div>
          <div class="card-block">
            <form [formGroup]="viewDetailsForm" novalidate>

              <label>Event Types</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" value="{{JobDetails?.job_category_id.category_name}}"
                  placeholder="Category Name" type="text" readonly="true" class="form-control" />

                <select *ngIf="action == 'edit'" class="form-control" name="category_name"
                  formControlName="category_name" (change)="selectEvent($event)">
                  <option value="">Select Event Type</option>
                  <option value="{{evnts.category_name}}" *ngFor="let evnts of eventsType">{{evnts.category_name}}
                  </option>
                </select>
                <!-- <input *ngIf="action == 'edit'" placeholder="Job Category" type="text" name="job_category_id" formControlName="job_category_id" readonly="true"
                class="form-control" /> -->

                <!-- <input *ngIf="action == 'edit'" placeholder="Job Category" type="text" name="job_category_id" formControlName="job_category_id" class="form-control" /> -->
                <!-- <ngx-select *ngIf="action == 'edit'" class="custom-ngx-select" [allowClear]="true" [items]="eventsType" optionValueField="eventsType?.job_category_id" optionTextField="category_name"
                      placeholder="{{(select_job_type) ? 'Select Job Type': JobDetails?.category_name}}" (selectionChanges)="eventsChange($event)" (remove)="removeSelectedEvent()">
                    <ng-template ngx-select-option-not-found>
                      Nothing found
                    </ng-template>
                  </ngx-select> -->
              </div>
              <!-- <div *ngIf="is_event_select">
                  <div class="alert alert-danger">
                      Please select Job Category Type.
                  </div>
                </div> -->
              <div
                *ngIf="(submitted && viewDetailsForm.controls.category_name.invalid) || viewDetailsForm.controls.category_name.touched">
                <div *ngIf="viewDetailsForm.hasError('required','category_name')" class="alert alert-danger">
                  Event Type is required.
                </div>
              </div>

              <label *ngIf="viewDetailsForm.value.category_name == 'Miscellaneous'">Title</label><strong
                *ngIf="action == 'edit' && viewDetailsForm.value.category_name == 'Miscellaneous'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view' && viewDetailsForm.value.category_name == 'Miscellaneous'"
                  placeholder="Title" type="text" name="title" formControlName="title" readonly="true"
                  (input)="titleMiscellaneous($event)" class="form-control" />

                <input *ngIf="action == 'edit' && viewDetailsForm.value.category_name == 'Miscellaneous'"
                  placeholder="Title" type="text" name="title" formControlName="title" class="form-control"
                  (input)="titleRequired($event)" />
              </div>
              <div *ngIf="(submitted && is_title_required) || title_required">
                <div class="alert alert-danger">
                  Title is required.
                </div>
              </div>

              <label *ngIf="action == 'view'">User Name</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="User Name" type="text" name="user_name"
                  formControlName="user_name" readonly="true" class="form-control" />
                <!-- <input *ngIf="action == 'edit'" placeholder="User Name" type="text" name="user_name" formControlName="user_name" class="form-control" /> -->
              </div>

              <label *ngIf="action == 'view'">Host Name</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Host Name" type="text" name="host_name"
                  formControlName="host_name" readonly="true" class="form-control" />
                <!-- <input *ngIf="action == 'edit'" placeholder="User Name" type="text" name="user_name" formControlName="user_name" class="form-control" /> -->
              </div>

              <label> Suite/Apartment</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Apartment" type="text" name="apartment"
                  formControlName="apartment" readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Apartment" type="text" name="apartment"
                  formControlName="apartment" class="form-control" />
              </div>
              <!-- <div *ngIf="(submitted && viewDetailsForm.controls.apartment.invalid) || viewDetailsForm.controls.apartment.touched">
                  <div *ngIf="viewDetailsForm.hasError('required','apartment')" class="alert alert-danger">
                      Apartment is required.
                  </div>
                </div> -->

              <label>Street Address</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Street Address" type="text" name="street_address"
                  formControlName="street_address" readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Street Address" type="text" name="street_address"
                  formControlName="street_address" class="form-control" />
              </div>
              <div
                *ngIf="(submitted && viewDetailsForm.controls.street_address.invalid) || viewDetailsForm.controls.street_address.touched">
                <div *ngIf="viewDetailsForm.hasError('required','street_address')" class="alert alert-danger">
                  Street Address is required.
                </div>
              </div>

              <label>City</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="City" type="text" name="city" formControlName="city"
                  readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="City" type="text" name="city" formControlName="city"
                  class="form-control" />
              </div>
              <div
                *ngIf="(submitted && viewDetailsForm.controls.city.invalid) || viewDetailsForm.controls.city.touched">
                <div *ngIf="viewDetailsForm.hasError('required','city')" class="alert alert-danger">
                  City is required.
                </div>
              </div>

              <label>State</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="State" type="text" name="state" formControlName="state"
                  readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="State" type="text" name="state" formControlName="state"
                  class="form-control" />
              </div>
              <div
                *ngIf="(submitted && viewDetailsForm.controls.state.invalid) || viewDetailsForm.controls.state.touched">
                <div *ngIf="viewDetailsForm.hasError('required','state')" class="alert alert-danger">
                  State is required.
                </div>
              </div>

              <label>Zip</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Zipcode" type="text" name="zip" formControlName="zip"
                  readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Zipcode" type="text" name="zip" formControlName="zip"
                  class="form-control" />
              </div>
              <div *ngIf="(submitted && viewDetailsForm.controls.zip.invalid) || viewDetailsForm.controls.zip.touched">
                <div *ngIf="viewDetailsForm.hasError('required','zip')" class="alert alert-danger">
                  Zip is required.
                </div>
              </div>



              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="start">From Date</label><strong *ngIf="action == 'edit'">*</strong>
                    <input type="text" placeholder="Start" id="start" class="form-control"
                      formControlName="start_datetime" [bsValue]="bsValue" (bsValueChange)="onDateValueChange($event)"
                      [bsConfig]="{withTimepicker: true, rangeInputFormat : 'YYYY/MM/DD, h:mm a', dateInputFormat: 'YYYY/MM/DD, h:mm a'}"
                      [attr.disabled]="action == 'view'? '':null" bsDatepicker>

                    <!-- <input *ngIf="action == 'view'" type="text" placeholder="Start" class="form-control" id="start"
                      formControlName="start_datetime" [bsValue]="bsValue"
                      [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" bsDatepicker>
                    <input *ngIf="action == 'edit'" type="text" placeholder="Start" class="form-control" id="start"
                      formControlName="start_datetime" [bsValue]="bsValue"
                      [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" (bsValueChange)="onDateValueChange($event)"
                      bsDatepicker> -->
                  </div>
                  <div
                    *ngIf="(submitted && viewDetailsForm.controls.start_datetime.invalid) || viewDetailsForm.controls.start_datetime.touched">
                    <div *ngIf="viewDetailsForm.hasError('required','start_datetime')" class="alert alert-danger">
                      Start Event Date is required.
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="end">End Date</label><strong *ngIf="action == 'edit'">*</strong>
                    <!-- <input type="text" placeholder="End" class="form-control" id="end" formControlName="end_datetime"
                      [bsValue]="bsValue"
                      [bsConfig]="{withTimepicker: true, rangeInputFormat : 'YYYY/MM/DD, h:mm a', dateInputFormat: 'YYYY/MM/DD, h:mm a'}"
                      bsDatepicker> -->
                    <input type="text" placeholder="End" class="form-control" id="end" formControlName="end_datetime"
                      [bsValue]="bsValue" (bsValueChange)="onEndDateValueChange($event)"
                      [bsConfig]="{withTimepicker: true, rangeInputFormat : 'YYYY/MM/DD, h:mm a', dateInputFormat: 'YYYY/MM/DD, h:mm a'}"
                      [attr.disabled]="action == 'view'? '':null" bsDatepicker>
                    <!-- <input *ngIf="action == 'view'" type="text" placeholder="End" class="form-control" id="end"
                      formControlName="end_datetime" [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
                      bsDatepicker>

                    <input *ngIf="action == 'edit'" type="text" placeholder="End" class="form-control" id="end"
                      formControlName="end_datetime" [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }"
                      (bsValueChange)="onEndDateValueChange($event)" bsDatepicker> -->
                    <!-- <input *ngIf="action == 'edit'" type="text"
                            placeholder="End"
                            class="form-control"
                            id="end"
                            formControlName="end_datetime"
                            [bsValue]="(set_refrash_date)? minDate:nextDate"
                            [minDate]="minDate"
                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                            (bsValueChange)="onEndDateValueChange($event)"
                            bsDatepicker> -->
                  </div>
                  <div
                    *ngIf="(submitted && viewDetailsForm.controls.end_datetime.invalid) || viewDetailsForm.controls.end_datetime.touched">
                    <div *ngIf="viewDetailsForm.hasError('required','end_datetime')" class="alert alert-danger">
                      End Event Date is required.
                    </div>
                  </div>
                  <div *ngIf="set_date_not_valid">
                    <div class="alert alert-danger">
                      End event date is previous date.
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-md-6">
                  <label>Start Time</label><strong *ngIf="action == 'edit'">*</strong>
                  <div class="form-group">
                    <input *ngIf="action == 'view'" placeholder="StartTime" type="text" name="start_time"
                      formControlName="start_time" readonly="true" class="form-control" />
                    <input *ngIf="action == 'edit'" placeholder="StartTime" type="text" name="start_time"
                      formControlName="start_time" class="form-control" />
                  </div>
                  <div
                    *ngIf="(submitted && viewDetailsForm.controls.start_time.invalid) || viewDetailsForm.controls.start_time.touched">
                    <div *ngIf="viewDetailsForm.hasError('required','start_time')" class="alert alert-danger">
                      Start Time is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>End Time</label><strong *ngIf="action == 'edit'">*</strong>
                  <div class="form-group">
                    <input *ngIf="action == 'view'" placeholder="EndTime" type="text" name="end_time"
                      formControlName="end_time" readonly="true" class="form-control" />
                    <input *ngIf="action == 'edit'" placeholder="EndTime" type="text" name="end_time"
                      formControlName="end_time" class="form-control" />
                  </div>
                  <div
                    *ngIf="(submitted && viewDetailsForm.controls.end_time.invalid) || viewDetailsForm.controls.end_time.touched">
                    <div *ngIf="viewDetailsForm.hasError('required','end_time')" class="alert alert-danger">
                      End Time is required.
                    </div>
                  </div>
                </div>
              </div> -->


              <label>Tell us the details of your event</label>
              <div class="form-group">
                <textarea *ngIf="action == 'view'" placeholder="Details" type="text" name="details"
                  formControlName="details" readonly="true" class="form-control"></textarea>
                <textarea *ngIf="action == 'edit'" placeholder="Details" type="text" name="details"
                  formControlName="details" class="form-control"></textarea>
              </div>

              <label>MLS Link</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="MLS Link" type="url" name="mls_number"
                  formControlName="mls_number" readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="MLS Link" type="url" name="mls_number"
                  formControlName="mls_number" class="form-control" />
              </div>

              <label *ngIf="action == 'view'">Payout Amount</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Payout Amount" type="text" name="payout_amount"
                  formControlName="payout_amount" readonly="true" class="form-control" />
                <!-- <input *ngIf="action == 'edit'" placeholder="Payout Amount" type="text" name="payout_amount" formControlName="payout_amount" class="form-control" /> -->
              </div>

              <label>Agent Terms and Conditions</label>
              <div class="form-group">
                <textarea *ngIf="action == 'view'" placeholder="Terms" type="text" name="terms" formControlName="terms"
                  readonly="true" class="form-control"></textarea>
                <textarea *ngIf="action == 'edit'" placeholder="Terms" type="text" name="terms" formControlName="terms"
                  class="form-control"></textarea>
              </div>

              <label *ngIf="action == 'view'">Cancel by</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Cancel by" type="text" name="cancelby"
                  formControlName="cancelby" readonly="true" class="form-control" />
                <!-- <input *ngIf="action == 'edit'" placeholder="Cancel by" type="text" name="cancelby" formControlName="cancelby" class="form-control" /> -->
              </div>

              <label *ngIf="action == 'view'">Cancel Reason</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Cancel Reason" type="text" name="cancel_reason"
                  formControlName="cancel_reason" readonly="true" class="form-control" />
                <!-- <input *ngIf="action == 'edit'" placeholder="Cancel Reason" type="text" name="cancel_reason" formControlName="cancel_reason" class="form-control" /> -->
              </div>

              <!-- <label>State</label>
                <div class="form-group">
                  <input placeholder="State" type="text" name="state" formControlName="state" readonly="true"
                    class="form-control" />
                </div> -->

              <label>Latitude</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Latitude" type="text" name="latitude"
                  formControlName="latitude" readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Latitude" type="number" name="latitude"
                  formControlName="latitude" class="form-control" />
              </div>

              <label>Longitude</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Longitude" type="text" name="longitude"
                  formControlName="longitude" readonly="true" class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Longitude" type="number" name="longitude"
                  formControlName="longitude" class="form-control" />
              </div>

              <div class="form-group">
                <label> Does not require a licensed agent. : </label>
                <input *ngIf="action == 'view'" type="checkbox" name="is_licence_required"
                  [checked]="(JobDetails?.is_licence_required == '1')? false:true" [disabled]="true" />
                <input *ngIf="action == 'edit'" type="checkbox" name="is_licence_required"
                  (click)="isLicenceRequired($event)"
                  [checked]="(JobDetails?.is_licence_required == '1')? false:true" />
              </div>
              <!-- <label>Longitude</label>
                <div class="form-group">
                  <input placeholder="Longitude" type="text" name="longitude" formControlName="longitude" readonly="true"
                    class="form-control" />
                </div> -->

              <label *ngIf="action == 'view'">Is checkedin ?</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Is checkedin" type="text" name="is_checkedin"
                  formControlName="is_checkedin" readonly="true" class="form-control" />
              </div>

              <label *ngIf="action == 'view'">Checkin time</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Checkin time" type="text" name="checkin_time"
                  formControlName="checkin_time" readonly="true" class="form-control" />
              </div>

              <label *ngIf="JobDetails?.status != ''">Status</label>
              <div class="form-group">
                <div *ngIf="JobDetails?.status == 'selected'">
                  <span class="badge badge-info">Selected</span>
                </div>
                <div *ngIf="JobDetails?.status == 'live' && !dueDate">
                  <span class="badge badge-success">Live</span>
                </div>
                <div *ngIf="JobDetails?.status == 'live' && dueDate">
                  <span class="badge badge-warning">Dued</span>
                </div>
                <div *ngIf="JobDetails?.status == 'deleted'">
                  <span class="badge badge-danger">Deleted</span>
                </div>
                <div *ngIf="JobDetails?.status == 'cancelled'">
                  <span class="badge badge-warning">Cancelled</span>
                </div>
                <div *ngIf="JobDetails?.status == 'failed'">
                  <span class="badge badge-danger">Failed</span>
                </div>
                <div *ngIf="JobDetails?.status == 'completed'">
                  <span class="badge badge-success">Completed</span>
                </div>
              </div>

              <label> Upload Images</label>
              <div *ngIf="isImgUpload == true  || jobs_img_count_after_delete != 0" class="form-group row">
                <div *ngFor="let image of jobImgs;let i=index;" class="col-sm-3">
                  <img src="{{JobimgUrl}}{{image}}" alt="Job Picture" name="profile_image" height="100px" width="100px"
                    (error)="errorHandler($event)" />
                  <span *ngIf="action == 'edit'" class="btn btn-danger"
                    (click)="deleteJobFile(image, i)"><b>x</b></span>
                </div>

              </div>

              <div class="form-group">
                <div *ngIf="action == 'edit'">
                  <input type="file" ng2FileSelect [uploader]="uploader" multiple />

                  <!-- <input type="file" class="form-control" name="images" (change)="handleFileInput($event)" multiple> -->
                  <ul>
                    <li *ngFor="let item of uploader.queue"
                      class="d-flex justify-content-between align-items-center border-bottom px-3 py-2">
                      <label for="" class="mb-0">{{item?.file?.name}}</label>
                      <a href="javascript:void(0)" class="text-danger" (click)="item.remove()"><i
                          class="fa fa-trash-o"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <div *ngFor="let preview of imgPreview;let image_index=index;" class="col-sm-3">
                <img src="{{preview}}" height="100" width="100" />
                <span (click)="deleteFile(image_index)">x</span>
              </div> -->
              <div class="alert alert-danger" *ngIf="imageUploadExtentionError == true">
                Please upload JPG, PNG or JPEG file.
              </div>
              <!-- <div *ngIf="submitted && minFileError" class="alert alert-danger">
                  <p>Please upload minimum 1 image</p>
                </div>  -->
              <div *ngIf="submitted && exceedLimit" class="alert alert-danger">
                <p>You can upload maximum 10 images</p>
              </div>

              <div class="col-sm-12 text-center">
                <button *ngIf="action == 'view' && JobDetails?.status != 'deleted'" type="button"
                  class="btn btn-primary mr-1" (click)="editJobDetails(JobDetails?.job_id)" title="Edit">
                  <i class="fa fa-edit"> Edit</i>
                </button>
                <button *ngIf="action == 'edit'" type="button" (click)="viewJobDetailsFormSubmit()"
                  class="btn btn-primary mr-1" title="Submit" [disabled]="formdisable">
                  <i class="fa fa-edit"> Submit</i>
                </button>
                <button *ngIf="JobDetails?.status == 'deleted'" class="btn btn-info mr-1" type="button"
                  [routerLink]="['/jobsmgmt']" title="Back">
                  <i class="fa fa-chevron-left"> Back</i>
                </button>
                <button *ngIf="JobDetails?.status != 'deleted'" class="btn btn-warning" type="button"
                  [routerLink]="['/jobsmgmt']" title="Back">
                  <i class="fa fa-remove"> Cancel</i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <!-- <div class="col-sm-6">
          <center>
            <button ng-if="action == 'view'" type="button" title="Update" ng-click="editPackage('edit')" class="btn btn-oval btn-primary">{{ 'common.EDIT' | translate : { EDIT: common.EDIT } }}</button>
            <button ng-if="action == 'edit'" type="button" title="Update" ng-click="updatePackage()" class="btn btn-oval btn-primary">{{ 'common.UPDATE' | translate : { UPDATE: common.UPDATE } }}</button>
            <button type="button" ng-if="action == 'view'" ui-sref="app.viewPackage" class="btn btn-oval btn-primary">{{ 'common.BACK' | translate : { BACK: common.BACK } }}</button>
            <button ng-if="action == 'edit'" type="button" title="Cancle" ui-sref="app.viewPackage" class="btn btn-oval btn-primary">{{ 'common.CANCLE' | translate : { CANCLE: common.CANCLE } }}</button>
          </center>
        </div> -->
    </div>
  </div>
</section>
