<div class="animated fadeIn">
    <div class="card">
      <div class="card-header"><strong class="job-mgmt-title"> Job Management</strong> </div>

      <div class="card-block">
        <div class="row">
          <div class="col-lg-12">
        <table style="width: 100vw" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th style="width: 10%">Job ID</th>
              <th style="width: 5%">Title</th>
              <th style="width: 10%">Username</th>
              <!-- <th style="width: 10%">Apartment</th> -->
              <!-- <th style="width: 5%">Street Address</th> -->
              <th style="width: 3%">City</th>
              <th style="width: 3%">State</th>
              <th style="width: 3%">Zip</th>
              <!-- <th style="width: 5%">Details</th> -->
              <th style="width: 15%">Payout Amount</th>
              <!-- <th style="width: 5%">Terms</th> -->
              <!-- <th style="width: 5%">CancelBy</th> -->
              <!-- <th style="width: 5%">Cancel Reason</th> -->
              <!-- <th style="width: 5%">Cancel By</th> -->
              <!-- <th style="width: 15%">Images</th> -->
              <th style="width: 5%">Status</th>
              <th style="width: 35%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of jobs; index as i">
              <td>{{ item.job_id }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.user_name }}</td>
              <!-- <td>{{ item.apartment }}</td> -->
              <!-- <td>{{ item.street_address }}</td> -->
              <td>{{ item.city }}</td>
              <td>{{ item.state }}</td>
              <td>{{ item.zip }}</td>
              <!-- <td>{{ item.details }}</td> -->
              <td>{{ item.payout_amount }}</td>
              <!-- <td>{{ item.terms }}</td> -->
              <!-- <td>{{ item.cancelby }}</td> -->
              <!-- <td>
                <img src="{{jobimgUrl}}{{item_img[i]}}" (error)="errorHandler($event)" height='100px' width='100px'>
              </td> -->
              <td *ngIf="item.status == 'live'">
                <span class="badge badge-primary">Live</span>
              </td>

              <td *ngIf="item.status == 'dued'">
                <span class="badge badge-warning">Dued</span>
              </td>
              <td *ngIf="item.status == 'selected'">
                <span class="badge badge-success">Selected</span>
              </td>
              <td *ngIf="item.status == 'completed'">
                <span class="badge badge-success">Completed</span>
              </td>
              <td *ngIf="item.status == 'deleted'">
                <span class="badge badge-danger">Deleted</span>
              </td>
              <td *ngIf="item.status == 'cancelled'">
                <span class="badge badge-warning">Cancelled</span>
              </td>
              <td *ngIf="item.status == 'failed'">
                <span class="badge badge-danger">Failed</span>
              </td>
              <td>
                <button class="btn btn-primary mr-1" [routerLink]="['/jobsmgmt/jobDetails', item.job_id]" title="View">
                  <i class="fa fa-eye"> View</i>
                </button>

                <button class="btn btn-info mr-1" [routerLink]="['/jobsmgmt/jobTranjactions', item.job_id]" title="View">
                  <i class="fa fa-eye"> Transactions</i>
                </button>

                <button class="btn btn-danger mr-1" (click)="jobDelete(item.job_id)" title="Delete">
                  <i class="fa fa-trash"> Delete</i>
                </button>

                <button class="btn btn-warning" *ngIf="item.status == 'selected' && item?.is_checkedin == 1" (click)="jobCheckout(item.job_id)" title="View" [attr.disabled] ="item?.is_checkedin == 1  ? null : '' ">
                  Checkout
               </button>

               <button class="btn btn-warning" *ngIf="item.status == 'selected' && item?.is_checkedin == 0" (click)="jobCheckin(item.job_id, item.user_id)" title="View" [attr.disabled] ="item?.is_checkedin == 0  ? null : '' ">
                CheckIn
             </button>
              </td>
            </tr>
            <!-- <tr *ngIf="users?.length == 0">
              <td colspan="3" class="no-data-available">No data!</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  </div>
