<toaster-container></toaster-container>
<div class="animated fadeIn">
  <div class="form-group ">
    <label for="user_type">is non-agent?:  </label>
    <input type="checkbox" value="1" (click)="isAgnentOrNot($event)">
  </div>
<section class="content">
    <div class="box">
      <div class="box-body">
        <div class="row">
          
          <div class="card col-lg-8">
            <div class="card-header text-left" style="background:#fff;">
              <strong>Add Agent</strong>
            </div>
  
            <div class="card-block">
            
          <form [formGroup]="userAddForm" (ngSubmit)="userAddFormSubmit()"  novalidate>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <label>First Name</label><strong>*</strong>
                <div class="form-group">
                  <input placeholder="First Name" type="text" name="first_name" formControlName="first_name" class="form-control"
                    required />
                </div>
                <div *ngIf="(submitted && userAddForm.controls.first_name.invalid)">
                  <div *ngIf="userAddForm.hasError('required','first_name')" class="alert alert-danger">
                    First Name is required.
                  </div>
                  <div *ngIf="!userAddForm.hasError('required','first_name') && userAddForm.hasError('minlength','first_name')" class="alert alert-danger">
                    First Name should contain minimum 3 characters.
                  </div>
                  <div *ngIf="!userAddForm.hasError('required','first_name') && (!userAddForm.hasError('minlength','first_name')) && (userAddForm.hasError('pattern','first_name'))" class="alert alert-danger">
                    First name not valid.
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label>Last Name</label><strong>*</strong>
                <div class="form-group">
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name" formControlName="last_name"
                    required>
                </div>
                <div *ngIf="(submitted && userAddForm.controls.last_name.invalid)">
                  <div *ngIf="userAddForm.hasError('required','last_name')" class="alert alert-danger">
                    Last Name is required.
                  </div>
                  <div *ngIf="!userAddForm.hasError('required','last_name') && userAddForm.hasError('minlength','last_name')" class="alert alert-danger">
                    Last Name should contain minimum 3 characters.
                  </div>
                  <div *ngIf="!userAddForm.hasError('required','last_name') && (!userAddForm.hasError('minlength','last_name')) && (userAddForm.hasError('pattern','last_name'))" class="alert alert-danger">
                    Last name not valid.
                  </div>
                </div>
                </div>
              </div>
            </div>
          
            <div class="col-sm-12">
              <label>Email</label><strong>*</strong>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email" required>
              </div>
              <div *ngIf="(submitted && userAddForm.controls.email.invalid)">
                <div *ngIf="userAddForm.hasError('required','email')" class="alert alert-danger">
                  Email is required.
                </div>
                <div *ngIf="!userAddForm.hasError('required','email') && (userAddForm.hasError('pattern','email') || userAddForm.hasError('email','email'))"
                  class="alert alert-danger">
                  Please enter valid email.
                </div>
              </div>

              <label>Password</label><strong>*</strong>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password"
                  required>
              </div>
              <div *ngIf="(submitted && userAddForm.controls.password.invalid)">
                <div *ngIf="userAddForm.hasError('required','password')" class="alert alert-danger">
                  Password is required.
                </div>
                <div *ngIf="!userAddForm.hasError('required','password') && userAddForm.hasError('minlength','password')"
                  class="alert alert-danger">
                  Password should contain minimum 8 characters.
                </div>
                <div *ngIf="!userAddForm.hasError('required','password') && (!userAddForm.hasError('minlength','password')) && (userAddForm.hasError('pattern','password'))" class="alert alert-danger">
                  Password not valid.
                </div>
              </div>
              
              <label>Profile Image</label><strong>*</strong>
              <div class="form-group"> 
                <input type="file"
                       class="form-control"
                       id="image"
                       name="image"
                       (change)="handleFileInput($event)">
              </div>
              <div *ngIf="(is_not_selected || submitted && userAddForm.controls['image'].invalid)">
                <div *ngIf="userAddForm.controls['image'].invalid" class="alert alert-danger">
                    Profile Image is required.
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="imageUploadExtentionError == true">
                Please upload JPG, PNG or JPEG file.
              </div>
              
            </div>

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <label>Phone</label><strong>*</strong>
                  <div class="form-group">
                    <input placeholder="Phone" type="text" name="phone" formControlName="phone" class="form-control"
                      required />
                  </div>
                  <div *ngIf="(submitted && userAddForm.controls.phone.invalid)">
                    <div *ngIf="userAddForm.hasError('required','phone')" class="alert alert-danger">
                      Phone is required.
                    </div>
                    <div *ngIf="!userAddForm.hasError('required','phone') && userAddForm.hasError('minlength','phone')" class="alert alert-danger">
                      Phone should contain minimum 9 digits.
                    </div>
                    <div *ngIf="!userAddForm.hasError('required','phone') && (!userAddForm.hasError('minlength','phone')) && (userAddForm.hasError('maxlength','phone'))" class="alert alert-danger">
                      Phone should contain maximum 15 digits.
                    </div>
                    <div *ngIf="!userAddForm.hasError('required','phone') && (!userAddForm.hasError('minlength','phone')) && (!userAddForm.hasError('maxlength','phone')) && (userAddForm.hasError('pattern','phone'))" class="alert alert-danger">
                      Phone number is not valid.
                    </div>
                  </div>
                </div>
                
                <div *ngIf="!is_non_agent_or_not" class="col-sm-6">
                  <label>Brokerage Type</label><strong>*</strong>
                  <div class="form-group">
                    <select class="form-control" name="brokerage_type" id="" (change)="selectBrokerage($event)">
                      <option value="">Select Brokerage</option>
                      <option value="{{brkr.type_id}}" *ngFor="let brkr of brokerage_types">{{brkr.name}}</option>
                    </select>
                    
                      <!-- <ngx-select class="custom-ngx-select" [allowClear]="true" [items]="brokerage_types" optionValueField="type_id" optionTextField="name" 
                       placeholder="Brokerage Type" (remove)="removeBrokerageSelected($event)" (selectionChanges)="brokerageChange($event)">
         
                       <ng-template ngx-select-option-not-found>
                         Nothing found
                       </ng-template>
         
                     </ngx-select> -->
                    <!-- <select  placeholder="Brokerage Type" name="brokerage_type" formControlName="brokerage_type" class="form-control" required>
                      <option *ngFor="let item of brokerage_types" [value]="item.type_id">{{item.name}}</option>
                    </select> -->
                  </div>
                  <!-- <div *ngIf="(submitted && userAddForm.controls.brokerage_type.invalid) || userAddForm.controls.brokerage_type.touched">
                    <div *ngIf="userAddForm.hasError('required','brokerage_type')" class="alert alert-danger">
                        Brokerage Type is required.
                    </div>
                  </div> -->
                  <div *ngIf="submitted && is_brokerage_select">
                    <div class="alert alert-danger">
                        Please select Brokerage Type.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <label>About</label>
              <div class="form-group">
                <textarea placeholder="About" name="about" formControlName="about" class="form-control"></textarea>
              </div>
              <!-- <label>Area Of Service</label>
              <div class="form-group">
                <textarea placeholder="Area Of Service" name="area_of_service" formControlName="area_of_service" class="form-control"
                  required></textarea>
              </div> -->
              <label *ngIf="!is_non_agent_or_not">Licence Number</label>
              <div *ngIf="!is_non_agent_or_not" class="form-group">
                <input placeholder="Licence Number" type="text" name="licence_number" class="form-control" (input)="licenceNumber($event)"/>
              </div>
              <div *ngIf="submitted && is_licence_required">
                <div class="alert alert-danger">
                    Please enter licence number.
                </div>
              </div>
              <div *ngIf="submitted && licence_length_validation && !is_licence_required">
                <div class="alert alert-danger">
                    Licence number should be 7 characters.
                </div>
              </div>
              <!-- <div *ngIf="(submitted && userAddForm.controls.licence_number.invalid) || userAddForm.controls.licence_number.touched">
                <div *ngIf="!userAddForm.hasError('required','licence_number') && userAddForm.hasError('minlength','licence_number')" class="alert alert-danger">
                  Licence Number should contain at least 5 characters.
                </div>
                <div *ngIf="!userAddForm.hasError('required','licence_number') && (!userAddForm.hasError('minlength','licence_number')) && (userAddForm.hasError('maxlength','licence_number'))" class="alert alert-danger">
                  Licence Number should contain at least 15 characters.
                </div>
                 <div *ngIf="!userAddForm.hasError('required','licence_number') && (!userAddForm.hasError('minlength','licence_number')) && (!userAddForm.hasError('maxlength','licence_number')) && (userAddForm.hasError('pattern','licence_number'))" class="alert alert-danger">
                    Licence number is not valid.
                </div> 
              </div> -->
              
            </div>   
             
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <label>Latitude</label>
                    <div class="form-group">
                      <input placeholder="Latitude" type="number" name="latitude" formControlName="latitude" class="form-control" />
                    </div>
                    <!-- <div *ngIf="(submitted && userAddForm.controls.latitude.invalid) || userAddForm.controls.latitude.touched">
                      <div *ngIf="userAddForm.hasError('required','latitude')" class="alert alert-danger">
                        Latitude is required.
                      </div>
                      <div *ngIf="!userAddForm.hasError('required','latitude') && (userAddForm.hasError('pattern','latitude') || userAddForm.hasError('latitude','latitude'))"
                        class="alert alert-danger">
                        Please enter valid Latitude.
                      </div>
                    </div> -->
                  </div>
                
                <div class="col-sm-6">
                    <label>Longitude</label>
                    <div class="form-group">
                      <input placeholder="Longitude" type="number" name="longitude" formControlName="longitude" class="form-control" />
                    </div>
                    <!-- <div *ngIf="(submitted && userAddForm.controls.longitude.invalid) || userAddForm.controls.longitude.touched">
                      <div *ngIf="userAddForm.hasError('required','longitude')" class="alert alert-danger">
                        Longitude is required.
                      </div>
                      <div *ngIf="!userAddForm.hasError('required','longitude') && (userAddForm.hasError('pattern','longitude') || userAddForm.hasError('longitude','longitude'))"
                        class="alert alert-danger">
                        Please enter valid Longitude.
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <button class="btn btn-primary mr-1" type="submit" title="Save" [disabled]="formdisable">
                  <i class="fa fa-check"> Save</i>
                </button>
                <button class="btn btn-warning" type="button" title="Cancel" [routerLink]="['/usersmgmt']">
                  <i class="fa fa-remove"> Cancel</i>
                </button>
              </div>
            
          </form>
        </div>
          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
    </div>
  </section>
