<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="row">

        <div class="card col-lg-8">

          <div class="card-header text-left" style="background:#fff;">
            <strong>User Details</strong>
          </div>
          <div class="card-block">
            <form [formGroup]="viewDetailsForm" (ngSubmit)="viewDetailsFormSubmit()"  novalidate>

              <label>First Name</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="First Name" type="text" name="first_name" formControlName="first_name" readonly="true"
                  class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="First Name" type="text" name="first_name" formControlName="first_name" class="form-control" />

              </div>
              <div *ngIf="(submitted && viewDetailsForm.controls.first_name.invalid) || viewDetailsForm.controls.first_name.touched">
                <div *ngIf="viewDetailsForm.hasError('required','first_name')" class="alert alert-danger">
                  First Name is required.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','first_name') && viewDetailsForm.hasError('minlength','first_name')" class="alert alert-danger">
                  First Name should contain at least 3 characters.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','first_name') && (!viewDetailsForm.hasError('minlength','first_name')) && (viewDetailsForm.hasError('pattern','first_name'))" class="alert alert-danger">
                  Only space not allowed.
                </div>
              </div>


              <label>Last Name</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Last Name" type="text" name="last_name" formControlName="last_name" readonly="true"
                  class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Last Name" type="text" name="last_name" formControlName="last_name" class="form-control" />

              </div>
              <div *ngIf="(submitted && viewDetailsForm.controls.last_name.invalid) || viewDetailsForm.controls.last_name.touched">
                <div *ngIf="viewDetailsForm.hasError('required','last_name')" class="alert alert-danger">
                  Last Name is required.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','last_name') && viewDetailsForm.hasError('minlength','last_name')" class="alert alert-danger">
                  Last Name should contain at least 3 characters.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','last_name') && (!viewDetailsForm.hasError('minlength','last_name')) && (viewDetailsForm.hasError('pattern','last_name'))" class="alert alert-danger">
                  Only space not allowed.
                </div>
              </div>



              <label *ngIf="action == 'view'">Email</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Email" type="text" name="email" formControlName="email" readonly="true" class="form-control"
                />
              </div>


              <label>Phone</label><strong *ngIf="action == 'edit'">*</strong>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Phone" type="text" name="phone" formControlName="phone" readonly="true" class="form-control"/>
                <input *ngIf="action == 'edit'" placeholder="Phone" type="text" name="phone" formControlName="phone" class="form-control"/>
              </div>
              <div *ngIf="action == 'edit'">
              <div *ngIf="(submitted && viewDetailsForm.controls.phone.invalid) || viewDetailsForm.controls.phone.touched">
                <div *ngIf="viewDetailsForm.hasError('required','phone')" class="alert alert-danger">
                  Phone is required.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','phone') && viewDetailsForm.hasError('minlength','phone')" class="alert alert-danger">
                  Phone should contain at least 9 digits.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','phone') && (!viewDetailsForm.hasError('minlength','phone')) && (viewDetailsForm.hasError('maxlength','phone'))" class="alert alert-danger">
                  Phone should contain at least 15 digits.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','phone') && (!viewDetailsForm.hasError('minlength','phone')) && (!viewDetailsForm.hasError('maxlength','phone')) && (viewDetailsForm.hasError('pattern','phone'))" class="alert alert-danger">
                  Phone number is not valid.
                </div>
                </div>
              </div>


              <!-- <label>Area of Service</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Area of Service" type="text" name="area_of_service" formControlName="area_of_service" readonly="true" class="form-control"
                />
                <input *ngIf="action == 'edit'" placeholder="Area of Service" type="text" name="area_of_service" formControlName="area_of_service" class="form-control"/>
              </div> -->


              <label *ngIf="action == 'view' && userDetails?.is_agent == '1'">Licence Number</label>
              <div class="form-group">
                <input *ngIf="action == 'view' && userDetails?.is_agent == '1'" placeholder="Licence Number" type="text" name="licence_number" formControlName="licence_number" readonly="true" class="form-control"
                />

              </div>
              <!-- <div *ngIf="(submitted && viewDetailsForm.controls.licence_number.invalid) || viewDetailsForm.controls.licence_number.touched">
                <div *ngIf="viewDetailsForm.hasError('required','licence_number')" class="alert alert-danger">
                    Licence Number is required.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','licence_number') && (!viewDetailsForm.hasError('minlength','licence_number')) && (!viewDetailsForm.hasError('maxlength','licence_number')) && (viewDetailsForm.hasError('pattern','licence_number'))" class="alert alert-danger">
                    Only space not allowed.
                  </div>
              </div> -->

              <label *ngIf="userDetails?.is_agent == '1'">Brokerage Type</label>
              <div class="form-group">
                <input *ngIf="action == 'view' && userDetails?.is_agent == '1'" placeholder="Select Brokerage Type" value="{{get_broker_name_by_id}}" type="text" readonly="true"
                  class="form-control" />

                <select *ngIf="action == 'edit'" class="form-control" [(ngModel)]="setBrkType" name="brokerage_type" formControlName="brokerage_type" id="brokerage_type">
                    <option value="" selected disabled>Select Brokerage</option>
                    <option value="{{brkr.type_id}}" *ngFor="let brkr of AllBrokerage">{{brkr.name}}</option>
                </select>
              </div>

              <!-- <div class="form-group">
                  <select *ngIf="action == 'edit'" class="form-control" name="brokerage_type" formControlName="brokerage_type" id="">
                    <option value="">Select Brokerage</option>
                    <option value="{{brkr.name}}" *ngFor="let brkr of AllBrokerage">{{brkr.name}}</option>
                  </select>
              </div>
              <div *ngIf="(submitted && viewDetailsForm.controls.brokerage_type.invalid) || viewDetailsForm.controls.brokerage_type.touched">
                <div *ngIf="viewDetailsForm.hasError('required','brokerage_type')" class="alert alert-danger">
                    Brokerage Type is required.
                </div>
              </div> -->

              <label>Latitude</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Latitude" type="text" name="latitude" formControlName="latitude" readonly="true"
                  class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Latitude" type="number" name="latitude" formControlName="latitude" class="form-control" />
              </div>
              <!-- <div *ngIf="(submitted && viewDetailsForm.controls.latitude.invalid) || viewDetailsForm.controls.latitude.touched">
                <div *ngIf="viewDetailsForm.hasError('required','latitude')" class="alert alert-danger">
                    Latitude is required.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','latitude') && (viewDetailsForm.hasError('pattern','latitude') || viewDetailsForm.hasError('latitude','latitude'))"
                  class="alert alert-danger">
                  Please enter valid Latitude.
                </div>
              </div> -->


              <label>Longitude</label>
              <div class="form-group">
                <input *ngIf="action == 'view'" placeholder="Longitude" type="text" name="longitude" formControlName="longitude" readonly="true"
                  class="form-control" />
                <input *ngIf="action == 'edit'" placeholder="Longitude" type="number" name="longitude" formControlName="longitude"
                  class="form-control" />
              </div>
              <!-- <div *ngIf="(submitted && viewDetailsForm.controls.longitude.invalid) || viewDetailsForm.controls.longitude.touched">
                <div *ngIf="viewDetailsForm.hasError('required','longitude')" class="alert alert-danger">
                    Longitude is required.
                </div>
                <div *ngIf="!viewDetailsForm.hasError('required','longitude') && (viewDetailsForm.hasError('pattern','longitude') || viewDetailsForm.hasError('longitude','longitude'))"
                  class="alert alert-danger">
                  Please enter valid Longitude.
                </div>
              </div> -->


              <label>About</label>
              <div class="form-group">
                <textarea *ngIf="action == 'view'" placeholder="About" type="text" name="about" formControlName="about" readonly="true"
                  class="form-control"></textarea>
                <textarea *ngIf="action == 'edit'" placeholder="About" type="text" name="about" formControlName="about" class="form-control"></textarea>
              </div>


              <label>Status</label>
              <div class="form-group">
                <div *ngIf="userDetails?.is_active == 0">
                  <span class="badge badge-danger">Inactive</span>
                </div>
                <div *ngIf="userDetails?.is_active == 1">
                  <span class="badge badge-success">Active</span>
                </div>
              </div>


              <label>Profile Image</label>
              <div class="form-group">
                <img src="{{user_img}}" alt="Profile Picture" name="profile_image" height="100px" width="100px"
                  class="image-radius" (error)="errorHandler($event)" />
              </div>

              <div class="form-group">
                  <div *ngIf="action == 'edit'">
                    <input type="file" class="form-control" name="image" (change)="handleFileInput($event)"/>
                  </div>
              </div>
              <!-- <div *ngIf="(submitted && viewDetailsForm.controls.image.invalid) || viewDetailsForm.controls.image.touched">
                <div *ngIf="viewDetailsForm.hasError('required','image')" class="alert alert-danger">
                    Profile Image is required.
                </div>
              </div> -->
              <div class="alert alert-danger" *ngIf="imageUploadExtentionError == true">
                Please upload JPG, PNG or JPEG file.
              </div>


              <div class="col-sm-12 text-center">
                <button *ngIf="action == 'view'" class="btn btn-primary mr-1" (click)="editUserDetails(userDetails?.user_id)" title="Back">
                  <i class="fa fa-edit"> Edit</i>
                </button>
                <button *ngIf="action == 'edit'" class="btn btn-primary mr-1" type="submit" >
                  <i class="fa fa-edit"> Submit</i>
                </button>
                <button class="btn btn-warning" [routerLink]="['/usersmgmt']" title="Back">
                  <i class="fa fa-remove"> Cancel</i>
                </button>
              </div>
            </form>
          </div>


        </div>
        <div class="col-lg-3"></div>
      </div>
      <!-- <div class="col-sm-6">
        <center>
          <button ng-if="action == 'view'" type="button" title="Update" ng-click="editPackage('edit')" class="btn btn-oval btn-primary">{{ 'common.EDIT' | translate : { EDIT: common.EDIT } }}</button>
          <button ng-if="action == 'edit'" type="button" title="Update" ng-click="updatePackage()" class="btn btn-oval btn-primary">{{ 'common.UPDATE' | translate : { UPDATE: common.UPDATE } }}</button>
          <button type="button" ng-if="action == 'view'" ui-sref="app.viewPackage" class="btn btn-oval btn-primary">{{ 'common.BACK' | translate : { BACK: common.BACK } }}</button>
          <button ng-if="action == 'edit'" type="button" title="Cancle" ui-sref="app.viewPackage" class="btn btn-oval btn-primary">{{ 'common.CANCLE' | translate : { CANCLE: common.CANCLE } }}</button>
        </center>
      </div> -->
    </div>
  </div>
</section>
