<section class="content">
    <div class="form-group ">
        <label for="user_type">Please Select Type </label>
        <select class="form-control col-sm-3" id="user_type" (change)="userTypeChange($event)">
          <option value="">Select Type</option>
          <option value="0">Users</option>
          <option value="1">Agents</option>
        </select>
      </div>
      
    <div *ngIf="dialogue_for_users" class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-lg-2"></div>
            <div class="card col-lg-8">
            <div class="card-header">
              <strong *ngIf="is_nonAgents">Send Push Notification To Users</strong>
              <strong *ngIf="!is_nonAgents">Send Push Notification To Agents</strong>
            </div>
            <div class="card-block">
                
              <form [formGroup]="pushForm" #formDir="ngForm" (ngSubmit)="pushFormSubmit()" novalidate>

                  <!-- <div class="form-group radio push-radio-btn">
                    <label *ngIf="is_nonAgents" for="all_users">
                      <input type="radio" id="all_users" formControlName="users" name="users" value="0" (change) = "getNonAgentsList(null, $event)">
                      All Users
                    </label>
                    <label *ngIf="!is_nonAgents" for="all_users">
                      <input type="radio" id="all_users" formControlName="users" name="users" value="2" (change) = "getNonAgentsList(null, $event)">
                      All Agents
                    </label>
                  </div>
                  
                  <div class="form-group radio push-radio-btn">
                    <label *ngIf="is_nonAgents" for="select_custom_user">
                      <input  type="radio" id="select_custom_user" formControlName="users" name="users" value="1"> 
                      Selected User
                    </label>
                    <label *ngIf="!is_nonAgents" for="select_custom_user">
                      <input  type="radio" id="select_custom_user" formControlName="users" name="users" value="1"> 
                      Selected Agent
                    </label>
                  </div>
                  <div *ngIf="pushForm.value.users == '1'"> 
                    <div class="col-lg-8">
                      <div class="card push-user">
                        <div class="card-header">
                          <strong *ngIf="is_nonAgents">Select User</strong>
                          <strong *ngIf="!is_nonAgents">Select Agent</strong>
                        </div>
                        <div class="card-block">
                          <div class="card-block">
                            
                            <ngx-select class="custom-ngx-select" [allowClear]="true" [items]="agentsOrUsers" optionValueField="user_id" optionTextField="itemName" 
                                placeholder="{{(is_nonAgents) ? 'Select User':'Select Agent'}}"  (selectionChanges)="usersAgentChange($event)" (remove)="removeSelectedBrokerage()">
                                <ng-template ngx-select-option-not-found>
                                  Nothing found
                                </ng-template>
                            </ngx-select>

                          </div>
                          <div class="col-lg-12" *ngIf="(submitted && pushForm.controls.msg.invalid) || pushForm.controls.msg.touched">
                            <span *ngIf="pushForm.hasError('required','select_user')" class="alert alert-danger custom-err-msg">
                              <span *ngIf="is_nonAgents">Please select atleast one user.</span>
                              <span *ngIf="!is_nonAgents">Please select atleast one agent.</span>
                            </span>
                          </div>  
                        </div>  
                      </div>                        
                    </div>                      
                  </div>                  -->
                  
                  <!-- <div class="push-msg"> -->
                  <div class="form-group push-msg">
                    <label for="message">Message<strong>*</strong></label>
                    <textarea class="form-control" formControlName="message" name="message" id="message"></textarea>
                  </div>
                  <div *ngIf="(submitted && pushForm.controls.message.invalid) || pushForm.controls.message.touched">
                    <div *ngIf="pushForm.hasError('required','message')" class="alert alert-danger custom-err-msg">
                      Message is required.
                    </div>
                  </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary float-btn">
                    <i class="fa fa-send"> Send</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
        </div>
      </div>
    </section>
    